<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h5>
    Welcome to {{ title }}!
  </h5>
  <button><a [routerLink]="['login']">Login</a></button>
  <button> <a [routerLink]="['signup']">Signup</a></button> 
  <button><a [routerLink]="['./reactiveform']">Reactive Form</a></button>
  <button><a [routerLink]="['./templatedrivenform']">Template Driven Form</a></button>
  <button><a [routerLink]="['./crud']">CRUD Operations</a></button>
  <button><a [routerLink]="['./data-share']">Sharing Data</a></button>
  <button><a>Parent to child</a></button>
  <button><a>Child to parent</a></button>
  <button><a>Siblings</a></button>
</div>

<router-outlet></router-outlet>